.metadata
*.tmp
*.bak
*.swp
.svn
.settings
.buildpath
.project
*.DS_Store
dump.rdb
nohup.out
.idea/
helper/logs/
helper/cache/
helper/config/testing/
helper/config/development/
helper/config/production/
application